<nav class="navbar navbar-expand-lg  navbar-expand-sm navbar-dark" style="background-color:blueviolet;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <b>Camazotoz</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: ;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-rigth: auto;">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Registrar</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/add">Crear</a></li>
            <li><a class="dropdown-item" href="/list">Listar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Mensualidades</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/addMens">Pagar</a></li>
            <li><a class="dropdown-item" href="/listMens">Listar Mensualidades</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ventas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/addVenta">Comprar</a></li>
            <li><a class="dropdown-item" href="/listVentas">Listar Ventas</a></li>
            <li><a class="dropdown-item" href="/addProduct">Añadir producto</a></li>
            <li><a class="dropdown-item" href="/listProducts">Listar productos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Clases</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/listClas">Listar clases</a></li>
            <li><a class="dropdown-item" href="/addClas">clase nueva</a></li> 
            <li><a class="dropdown-item" href="/addAluClas">Agregar un alumno a una clase</a></li>
            <li><a class="dropdown-item" href="/listAluClas">Ver alumnos y clases</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>